# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/


# 忽略所有 csv log 檔案

*.txt
# 忽略資料集目錄 (Euroc 相關)
data/

CMakeLists.txt.user
CMakeLists_modified.txt

Examples/RGB-D/rgbd_tum
Examples/RGB-D/rgbd_realsense_D435i

Examples/RGB-D-Inertial/rgbd_inertial_realsense_D435i

Examples/Monocular/mono_realsense_D435i
Examples/Monocular/mono_euroc
Examples/Monocular/mono_kitti
Examples/Monocular/mono_tum
Examples/Monocular/mono_tum_vi
Examples/Monocular/mono_realsense_t265

Examples/Stereo/stereo_euroc
Examples/Stereo/stereo_kitti
Examples/Stereo/stereo_tum_vi
Examples/Stereo/stereo_realsense_t265
Examples/Stereo/stereo_realsense_D435i

Examples/Monocular-Inertial/mono_inertial_euroc
Examples/Monocular-Inertial/mono_inertial_tum_vi
Examples/Monocular-Inertial/mono_inertial_realsense_t265
Examples/Monocular-Inertial/mono_inertial_realsense_D435i
Examples/Monocular-Inertial/mono_inertial_realsense_D435i_2

Examples/Stereo-Inertial/stereo_inertial_euroc
Examples/Stereo-Inertial/stereo_inertial_tum_vi
Examples/Stereo-Inertial/stereo_inertial_realsense_t265
Examples/Stereo-Inertial/stereo_inertial_realsense_D435i


Examples/ROS/ORB_SLAM3/Mono
Examples/ROS/ORB_SLAM3/Mono_Inertial
Examples/ROS/ORB_SLAM3/MonoAR
Examples/ROS/ORB_SLAM3/RGBD
Examples/ROS/ORB_SLAM3/Stereo
Examples/ROS/ORB_SLAM3/Stereo_Inertial

Examples/Calibration/recorder_realsense_D435i

Examples/Tests/viewer_dataset
Examples/Tests/sophus_test

Examples/ROS/ORB_SLAM3/CMakeLists.txt.user
Examples/ROS/ORB_SLAM3/build/

KeyFrameTrajectory.txt
CameraTrajectory.txt
kf_*.txt
f_*.txt
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/
Vocabulary/ORBvoc.txt
build/

lib/

cmake_modules/
cmake-build-debug/

ExecMean.txt
SessionInfo.txt
Results_Euroc.txt
LBA_Stats.txt
LocalMapTimeStats.txt
TrackLocalMapStats.txt
TrackingTimeStats.txt
time*
Time*
Table_Euroc
Table_TUMVI_rooms/
*.pyc
*.osa
.idea/
my_settings.txt

borrar/*

*/ExecMean.txt
evaluation/fix_mono_tum_imu_corr_2.1txt
evaluation/fix_mono_tum_imu_corr_2.2txt
evaluation/fix_mono_tum_imu_corr_2.3txt
evaluation/fix_mono_tum_imu_corr_2.4txt
localmapping_log.csv
localmapping_log.csv
tracking_log.csv
evaluation/benchmark_results_20260407_025931.csv
evaluation/benchmark_results_20260407_122827.csv
evaluation/mimu_euroc_v101_localmapping_log.csv
evaluation/mimu_euroc_v101_tracking_log.csv
evaluation/mimu_euroc_v102_localmapping_log.csv
evaluation/mimu_euroc_v102_tracking_log.csv
evaluation/mimu_euroc_v103_localmapping_log.csv
evaluation/mimu_euroc_v103_tracking_log.csv
evaluation/mimu_tum_corr1_localmapping_log.csv
evaluation/mimu_tum_corr1_tracking_log.csv
evaluation/mimu_tum_corr2_localmapping_log.csv
evaluation/mimu_tum_corr2_tracking_log.csv
evaluation/mimu_tum_corr3_localmapping_log.csv
evaluation/mimu_tum_corr3_tracking_log.csv
evaluation/mimu_tum_corr4_localmapping_log.csv
evaluation/mimu_tum_corr4_tracking_log.csv
evaluation/mimu_tum_corr5_localmapping_log.csv
evaluation/mimu_tum_corr5_tracking_log.csv
evaluation/mimu_tum_mag1_localmapping_log.csv
evaluation/mimu_tum_mag1_tracking_log.csv
evaluation/mimu_tum_mag2_localmapping_log.csv
evaluation/mimu_tum_mag2_tracking_log.csv
evaluation/mimu_tum_mag3_localmapping_log.csv
evaluation/mimu_tum_mag3_tracking_log.csv
evaluation/mimu_tum_mag4_localmapping_log.csv
evaluation/mimu_tum_mag4_tracking_log.csv
evaluation/mimu_tum_room1_localmapping_log.csv
evaluation/mimu_tum_room1_tracking_log.csv
evaluation/mimu_tum_room2_localmapping_log.csv
evaluation/mimu_tum_room2_tracking_log.csv
evaluation/mimu_tum_room3_localmapping_log.csv
evaluation/mimu_tum_room3_tracking_log.csv
evaluation/mimu_tum_room4_localmapping_log.csv
evaluation/mimu_tum_room4_tracking_log.csv
evaluation/mimu_tum_room5_localmapping_log.csv
evaluation/mimu_tum_room5_tracking_log.csv
evaluation/mimu_tum_room6_localmapping_log.csv
evaluation/mimu_tum_room6_tracking_log.csv
evaluation/mimu_tum_slides1_localmapping_log.csv
evaluation/mimu_tum_slides1_tracking_log.csv
evaluation/mimu_tum_slides2_localmapping_log.csv
evaluation/mimu_tum_slides2_tracking_log.csv
evaluation/mimu_tum_slides3_localmapping_log.csv
evaluation/mimu_tum_slides3_tracking_log.csv
evaluation/mono_euroc_v101_localmapping_log.csv
evaluation/mono_euroc_v101_tracking_log.csv
evaluation/mono_euroc_v102_localmapping_log.csv
evaluation/mono_euroc_v102_tracking_log.csv
evaluation/mono_euroc_v103_localmapping_log.csv
evaluation/mono_euroc_v103_tracking_log.csv
evaluation/mono_tum_corr1_localmapping_log.csv
evaluation/mono_tum_corr1_tracking_log.csv
evaluation/mono_tum_corr2_localmapping_log.csv
evaluation/mono_tum_corr2_tracking_log.csv
evaluation/mono_tum_corr3_localmapping_log.csv
evaluation/mono_tum_corr3_tracking_log.csv
evaluation/mono_tum_corr4_localmapping_log.csv
evaluation/mono_tum_corr4_tracking_log.csv
evaluation/mono_tum_corr5_localmapping_log.csv
evaluation/mono_tum_corr5_tracking_log.csv
evaluation/mono_tum_mag1_localmapping_log.csv
evaluation/mono_tum_mag1_tracking_log.csv
evaluation/mono_tum_mag2_localmapping_log.csv
evaluation/mono_tum_mag2_tracking_log.csv
evaluation/mono_tum_mag3_localmapping_log.csv
evaluation/mono_tum_mag3_tracking_log.csv
evaluation/mono_tum_mag4_localmapping_log.csv
evaluation/mono_tum_mag4_tracking_log.csv
evaluation/mono_tum_mag5_localmapping_log.csv
evaluation/mono_tum_mag5_tracking_log.csv
evaluation/mono_tum_room1_localmapping_log.csv
evaluation/mono_tum_room1_tracking_log.csv
evaluation/mono_tum_room2_localmapping_log.csv
evaluation/mono_tum_room2_tracking_log.csv
evaluation/mono_tum_room3_localmapping_log.csv
evaluation/mono_tum_room3_tracking_log.csv
evaluation/mono_tum_room4_localmapping_log.csv
evaluation/mono_tum_room4_tracking_log.csv
evaluation/mono_tum_room5_localmapping_log.csv
evaluation/mono_tum_room5_tracking_log.csv
evaluation/mono_tum_room6_localmapping_log.csv
evaluation/mono_tum_room6_tracking_log.csv
evaluation/mono_tum_slides1_localmapping_log.csv
evaluation/mono_tum_slides1_tracking_log.csv
evaluation/mono_tum_slides2_localmapping_log.csv
evaluation/mono_tum_slides2_tracking_log.csv
evaluation/mono_tum_slides3_localmapping_log.csv
evaluation/mono_tum_slides3_tracking_log.csv
localmapping_log.csv
tracking_log.csv
localmapping_log.csv
localmapping_log_mono.csv
localmapping_log1.csv
localmapping_log.csv
loop_closing_log.csv
tracking_log.csv
evaluation/benchmark_results_20260408_002617.csv
evaluation/benchmark_results_20260408_111650.csv
evaluation/benchmark_results_20260408_160305.csv
evaluation/benchmark_results_20260408_164651.csv
evaluation/benchmark_results_20260408_202720.csv
evaluation/benchmark_results_20260409_051339.csv
evaluation/mimu_euroc_m01_localmapping_log.csv
evaluation/mimu_euroc_m01_loop_closing_log.csv
evaluation/mimu_euroc_m01_tracking_log.csv
evaluation/mimu_euroc_m02_localmapping_log.csv
evaluation/mimu_euroc_m02_loop_closing_log.csv
evaluation/mimu_euroc_m02_tracking_log.csv
evaluation/mimu_euroc_m03_localmapping_log.csv
evaluation/mimu_euroc_m03_loop_closing_log.csv
evaluation/mimu_euroc_m03_tracking_log.csv
evaluation/mimu_euroc_m04_localmapping_log.csv
evaluation/mimu_euroc_m04_loop_closing_log.csv
evaluation/mimu_euroc_m04_tracking_log.csv
evaluation/mimu_euroc_m05_localmapping_log.csv
evaluation/mimu_euroc_m05_loop_closing_log.csv
evaluation/mimu_euroc_m05_tracking_log.csv
evaluation/mimu_euroc_v101_loop_closing_log.csv
evaluation/mimu_euroc_v102_loop_closing_log.csv
evaluation/mimu_euroc_v103_loop_closing_log.csv
evaluation/mimu_euroc_v201_localmapping_log.csv
evaluation/mimu_euroc_v201_loop_closing_log.csv
evaluation/mimu_euroc_v201_tracking_log.csv
evaluation/mimu_euroc_v202_localmapping_log.csv
evaluation/mimu_euroc_v202_loop_closing_log.csv
evaluation/mimu_euroc_v202_tracking_log.csv
evaluation/mimu_euroc_v203_localmapping_log.csv
evaluation/mimu_euroc_v203_loop_closing_log.csv
evaluation/mimu_euroc_v203_tracking_log.csv
evaluation/mimu_tum_corr1_loop_closing_log.csv
evaluation/mimu_tum_corr2_loop_closing_log.csv
evaluation/mimu_tum_corr3_loop_closing_log.csv
evaluation/mimu_tum_corr4_loop_closing_log.csv
evaluation/mimu_tum_corr5_loop_closing_log.csv
evaluation/mimu_tum_mag1_loop_closing_log.csv
evaluation/mimu_tum_mag2_loop_closing_log.csv
evaluation/mimu_tum_mag3_loop_closing_log.csv
evaluation/mimu_tum_mag4_loop_closing_log.csv
evaluation/mimu_tum_mag5_localmapping_log.csv
evaluation/mimu_tum_mag5_loop_closing_log.csv
evaluation/mimu_tum_mag5_tracking_log.csv
evaluation/mimu_tum_room1_loop_closing_log.csv
evaluation/mimu_tum_room2_loop_closing_log.csv
evaluation/mimu_tum_room3_loop_closing_log.csv
evaluation/mimu_tum_room4_loop_closing_log.csv
evaluation/mimu_tum_room5_loop_closing_log.csv
evaluation/mimu_tum_room6_loop_closing_log.csv
evaluation/mimu_tum_slides1_loop_closing_log.csv
evaluation/mimu_tum_slides2_loop_closing_log.csv
evaluation/mimu_tum_slides3_loop_closing_log.csv
evaluation/mono_euroc_m01_localmapping_log.csv
evaluation/mono_euroc_m01_loop_closing_log.csv
evaluation/mono_euroc_m01_tracking_log.csv
evaluation/mono_euroc_m02_localmapping_log.csv
evaluation/mono_euroc_m02_loop_closing_log.csv
evaluation/mono_euroc_m02_tracking_log.csv
evaluation/mono_euroc_m03_localmapping_log.csv
evaluation/mono_euroc_m03_loop_closing_log.csv
evaluation/mono_euroc_m03_tracking_log.csv
evaluation/mono_euroc_m04_localmapping_log.csv
evaluation/mono_euroc_m04_loop_closing_log.csv
evaluation/mono_euroc_m04_tracking_log.csv
evaluation/mono_euroc_m05_localmapping_log.csv
evaluation/mono_euroc_m05_loop_closing_log.csv
evaluation/mono_euroc_m05_tracking_log.csv
evaluation/mono_euroc_v101_loop_closing_log.csv
evaluation/mono_euroc_v102_loop_closing_log.csv
evaluation/mono_euroc_v103_loop_closing_log.csv
evaluation/mono_euroc_v201_localmapping_log.csv
evaluation/mono_euroc_v201_loop_closing_log.csv
evaluation/mono_euroc_v201_tracking_log.csv
evaluation/mono_euroc_v202_localmapping_log.csv
evaluation/mono_euroc_v202_loop_closing_log.csv
evaluation/mono_euroc_v202_tracking_log.csv
evaluation/mono_euroc_v203_localmapping_log.csv
evaluation/mono_euroc_v203_loop_closing_log.csv
evaluation/mono_euroc_v203_tracking_log.csv
evaluation/mono_tum_corr1_loop_closing_log.csv
evaluation/mono_tum_corr2_loop_closing_log.csv
evaluation/mono_tum_corr3_loop_closing_log.csv
evaluation/mono_tum_corr4_loop_closing_log.csv
evaluation/mono_tum_corr5_loop_closing_log.csv
evaluation/mono_tum_mag1_loop_closing_log.csv
evaluation/mono_tum_mag2_loop_closing_log.csv
evaluation/mono_tum_mag3_loop_closing_log.csv
evaluation/mono_tum_mag4_loop_closing_log.csv
evaluation/mono_tum_mag5_loop_closing_log.csv
evaluation/mono_tum_room1_loop_closing_log.csv
evaluation/mono_tum_room2_loop_closing_log.csv
evaluation/mono_tum_room3_loop_closing_log.csv
evaluation/mono_tum_room4_loop_closing_log.csv
evaluation/mono_tum_room5_loop_closing_log.csv
evaluation/mono_tum_room6_loop_closing_log.csv
evaluation/mono_tum_slides1_loop_closing_log.csv
evaluation/mono_tum_slides2_loop_closing_log.csv
evaluation/mono_tum_slides3_loop_closing_log.csv
evaluation/run_stereo_inertial_benchmark.py
evaluation/se_euroc_m01_localmapping_log.csv
evaluation/se_euroc_m01_loop_closing_log.csv
evaluation/se_euroc_m01_tracking_log.csv
evaluation/se_euroc_m02_localmapping_log.csv
evaluation/se_euroc_m02_loop_closing_log.csv
evaluation/se_euroc_m02_tracking_log.csv
evaluation/se_euroc_m03_localmapping_log.csv
evaluation/se_euroc_m03_loop_closing_log.csv
evaluation/se_euroc_m03_tracking_log.csv
evaluation/se_euroc_m04_localmapping_log.csv
evaluation/se_euroc_m04_loop_closing_log.csv
evaluation/se_euroc_m04_tracking_log.csv
evaluation/se_euroc_m05_localmapping_log.csv
evaluation/se_euroc_m05_loop_closing_log.csv
evaluation/se_euroc_m05_tracking_log.csv
evaluation/se_euroc_v101_localmapping_log.csv
evaluation/se_euroc_v101_loop_closing_log.csv
evaluation/se_euroc_v101_tracking_log.csv
evaluation/se_euroc_v102_localmapping_log.csv
evaluation/se_euroc_v102_loop_closing_log.csv
evaluation/se_euroc_v102_tracking_log.csv
evaluation/se_euroc_v103_localmapping_log.csv
evaluation/se_euroc_v103_loop_closing_log.csv
evaluation/se_euroc_v103_tracking_log.csv
evaluation/se_euroc_v201_localmapping_log.csv
evaluation/se_euroc_v201_loop_closing_log.csv
evaluation/se_euroc_v201_tracking_log.csv
evaluation/se_euroc_v202_localmapping_log.csv
evaluation/se_euroc_v202_loop_closing_log.csv
evaluation/se_euroc_v202_tracking_log.csv
evaluation/se_euroc_v203_localmapping_log.csv
evaluation/se_euroc_v203_loop_closing_log.csv
evaluation/se_euroc_v203_tracking_log.csv
evaluation/se_tum_corr1_localmapping_log.csv
evaluation/se_tum_corr1_loop_closing_log.csv
evaluation/se_tum_corr1_tracking_log.csv
evaluation/se_tum_corr2_localmapping_log.csv
evaluation/se_tum_corr2_loop_closing_log.csv
evaluation/se_tum_corr2_tracking_log.csv
evaluation/se_tum_corr3_localmapping_log.csv
evaluation/se_tum_corr3_loop_closing_log.csv
evaluation/se_tum_corr3_tracking_log.csv
evaluation/se_tum_corr4_localmapping_log.csv
evaluation/se_tum_corr4_loop_closing_log.csv
evaluation/se_tum_corr4_tracking_log.csv
evaluation/se_tum_corr5_localmapping_log.csv
evaluation/se_tum_corr5_loop_closing_log.csv
evaluation/se_tum_corr5_tracking_log.csv
evaluation/se_tum_mag1_localmapping_log.csv
evaluation/se_tum_mag1_loop_closing_log.csv
evaluation/se_tum_mag1_tracking_log.csv
evaluation/se_tum_mag2_localmapping_log.csv
evaluation/se_tum_mag2_loop_closing_log.csv
evaluation/se_tum_mag2_tracking_log.csv
evaluation/se_tum_mag3_localmapping_log.csv
evaluation/se_tum_mag3_loop_closing_log.csv
evaluation/se_tum_mag3_tracking_log.csv
evaluation/se_tum_mag4_localmapping_log.csv
evaluation/se_tum_mag4_loop_closing_log.csv
evaluation/se_tum_mag4_tracking_log.csv
evaluation/se_tum_mag5_localmapping_log.csv
evaluation/se_tum_mag5_loop_closing_log.csv
evaluation/se_tum_mag5_tracking_log.csv
evaluation/se_tum_room1_localmapping_log.csv
evaluation/se_tum_room1_loop_closing_log.csv
evaluation/se_tum_room1_tracking_log.csv
evaluation/se_tum_room2_localmapping_log.csv
evaluation/se_tum_room2_loop_closing_log.csv
evaluation/se_tum_room2_tracking_log.csv
evaluation/se_tum_room3_localmapping_log.csv
evaluation/se_tum_room3_loop_closing_log.csv
evaluation/se_tum_room3_tracking_log.csv
evaluation/se_tum_room4_localmapping_log.csv
evaluation/se_tum_room4_loop_closing_log.csv
evaluation/se_tum_room4_tracking_log.csv
evaluation/se_tum_room5_localmapping_log.csv
evaluation/se_tum_room5_loop_closing_log.csv
evaluation/se_tum_room5_tracking_log.csv
evaluation/se_tum_room6_localmapping_log.csv
evaluation/se_tum_room6_loop_closing_log.csv
evaluation/se_tum_room6_tracking_log.csv
evaluation/se_tum_slides1_localmapping_log.csv
evaluation/se_tum_slides1_loop_closing_log.csv
evaluation/se_tum_slides1_tracking_log.csv
evaluation/se_tum_slides2_localmapping_log.csv
evaluation/se_tum_slides2_loop_closing_log.csv
evaluation/se_tum_slides2_tracking_log.csv
evaluation/se_tum_slides3_localmapping_log.csv
evaluation/se_tum_slides3_loop_closing_log.csv
evaluation/se_tum_slides3_tracking_log.csv
evaluation/stereo_euroc_m01_localmapping_log.csv
evaluation/stereo_euroc_m01_loop_closing_log.csv
evaluation/stereo_euroc_m01_tracking_log.csv
evaluation/stereo_euroc_m02_localmapping_log.csv
evaluation/stereo_euroc_m02_loop_closing_log.csv
evaluation/stereo_euroc_m02_tracking_log.csv
evaluation/stereo_euroc_m03_localmapping_log.csv
evaluation/stereo_euroc_m03_loop_closing_log.csv
evaluation/stereo_euroc_m03_tracking_log.csv
evaluation/stereo_euroc_m04_localmapping_log.csv
evaluation/stereo_euroc_m04_loop_closing_log.csv
evaluation/stereo_euroc_m04_tracking_log.csv
evaluation/stereo_euroc_m05_localmapping_log.csv
evaluation/stereo_euroc_m05_loop_closing_log.csv
evaluation/stereo_euroc_m05_tracking_log.csv
evaluation/stereo_euroc_v101_localmapping_log.csv
evaluation/stereo_euroc_v101_loop_closing_log.csv
evaluation/stereo_euroc_v101_tracking_log.csv
evaluation/stereo_euroc_v103_localmapping_log.csv
evaluation/stereo_euroc_v103_loop_closing_log.csv
evaluation/stereo_euroc_v103_tracking_log.csv
evaluation/stereo_euroc_v201_localmapping_log.csv
evaluation/stereo_euroc_v201_loop_closing_log.csv
evaluation/stereo_euroc_v201_tracking_log.csv
evaluation/stereo_euroc_v202_localmapping_log.csv
evaluation/stereo_euroc_v202_loop_closing_log.csv
evaluation/stereo_euroc_v202_tracking_log.csv
evaluation/stereo_euroc_v203_localmapping_log.csv
evaluation/stereo_euroc_v203_loop_closing_log.csv
evaluation/stereo_euroc_v203_tracking_log.csv
evaluation/stereo_tum_corr1_localmapping_log.csv
evaluation/stereo_tum_corr1_loop_closing_log.csv
evaluation/stereo_tum_corr1_tracking_log.csv
evaluation/stereo_tum_corr2_localmapping_log.csv
evaluation/stereo_tum_corr2_loop_closing_log.csv
evaluation/stereo_tum_corr2_tracking_log.csv
evaluation/stereo_tum_corr3_localmapping_log.csv
evaluation/stereo_tum_corr3_loop_closing_log.csv
evaluation/stereo_tum_corr3_tracking_log.csv
evaluation/stereo_tum_corr4_localmapping_log.csv
evaluation/stereo_tum_corr4_loop_closing_log.csv
evaluation/stereo_tum_corr4_tracking_log.csv
evaluation/stereo_tum_corr5_localmapping_log.csv
evaluation/stereo_tum_corr5_loop_closing_log.csv
evaluation/stereo_tum_corr5_tracking_log.csv
evaluation/stereo_tum_mag1_localmapping_log.csv
evaluation/stereo_tum_mag1_loop_closing_log.csv
evaluation/stereo_tum_mag1_tracking_log.csv
evaluation/stereo_tum_mag2_localmapping_log.csv
evaluation/stereo_tum_mag2_loop_closing_log.csv
evaluation/stereo_tum_mag2_tracking_log.csv
evaluation/stereo_tum_mag3_localmapping_log.csv
evaluation/stereo_tum_mag3_loop_closing_log.csv
evaluation/stereo_tum_mag3_tracking_log.csv
evaluation/stereo_tum_mag4_localmapping_log.csv
evaluation/stereo_tum_mag4_loop_closing_log.csv
evaluation/stereo_tum_mag4_tracking_log.csv
evaluation/stereo_tum_mag5_localmapping_log.csv
evaluation/stereo_tum_mag5_loop_closing_log.csv
evaluation/stereo_tum_mag5_tracking_log.csv
evaluation/stereo_tum_room1_localmapping_log.csv
evaluation/stereo_tum_room1_loop_closing_log.csv
evaluation/stereo_tum_room1_tracking_log.csv
evaluation/stereo_tum_room2_localmapping_log.csv
evaluation/stereo_tum_room2_loop_closing_log.csv
evaluation/stereo_tum_room2_tracking_log.csv
evaluation/stereo_tum_room3_localmapping_log.csv
evaluation/stereo_tum_room3_loop_closing_log.csv
evaluation/stereo_tum_room3_tracking_log.csv
evaluation/stereo_tum_room4_localmapping_log.csv
evaluation/stereo_tum_room4_loop_closing_log.csv
evaluation/stereo_tum_room4_tracking_log.csv
evaluation/stereo_tum_room5_localmapping_log.csv
evaluation/stereo_tum_room5_loop_closing_log.csv
evaluation/stereo_tum_room5_tracking_log.csv
evaluation/stereo_tum_room6_localmapping_log.csv
evaluation/stereo_tum_room6_loop_closing_log.csv
evaluation/stereo_tum_room6_tracking_log.csv
evaluation/stereo_tum_slides1_localmapping_log.csv
evaluation/stereo_tum_slides1_loop_closing_log.csv
evaluation/stereo_tum_slides1_tracking_log.csv
evaluation/stereo_tum_slides2_localmapping_log.csv
evaluation/stereo_tum_slides2_loop_closing_log.csv
evaluation/stereo_tum_slides2_tracking_log.csv
evaluation/stereo_tum_slides3_localmapping_log.csv
evaluation/stereo_tum_slides3_loop_closing_log.csv
evaluation/stereo_tum_slides3_tracking_log.csv
localmapping_log.csv
localmapping_log.csv
tracking_log.csv
evaluation/benchmark_results_20260406_194001.csv
evaluation/benchmark_results_20260416_191210.csv
evaluation/benchmark_results_20260416_193837.csv
evaluation/benchmark_results_20260416_194155.csv
evaluation/benchmark_results_20260416_194615.csv
evaluation/benchmark_results_20260416_203633.csv
evaluation/benchmark_results_20260416_203941.csv
evaluation/benchmark_results_20260416_205734.csv
evaluation/benchmark_results_20260417_141250.csv
evaluation/benchmark_results_20260417_163940.csv
evaluation/benchmark_results_20260417_170629.csv
evaluation/stereo_imu_euroc_v101_localmapping_log.csv
evaluation/stereo_imu_euroc_v101_loop_closing_log.csv
evaluation/stereo_imu_euroc_v101_tracking_log.csv
evaluation/stereo_imu_euroc_v102_localmapping_log.csv
evaluation/stereo_imu_euroc_v102_loop_closing_log.csv
evaluation/stereo_imu_euroc_v102_tracking_log.csv
evaluation/stereo_imu_euroc_v103_localmapping_log.csv
evaluation/stereo_imu_euroc_v103_loop_closing_log.csv
evaluation/stereo_imu_euroc_v103_tracking_log.csv
evaluation/stereo_imu_tum_out6_localmapping_log.csv
evaluation/stereo_imu_tum_out6_loop_closing_log.csv
evaluation/stereo_imu_tum_out6_tracking_log.csv
evaluation/stereo_imu_tum_room1_localmapping_log.csv
evaluation/stereo_imu_tum_room1_loop_closing_log.csv
evaluation/stereo_imu_tum_room1_tracking_log.csv
evaluation/stereo_inertial_results_20260405_230541.csv
evaluation/trajectory_stereo_euroc_v102.pdf
evaluation/trajectory_stereo_imu_euroc_v101.pdf
evaluation/trajectory_stereo_imu_euroc_v102.pdf
evaluation/trajectory_stereo_imu_euroc_v103.pdf
evaluation/trajectory_stereo_imu_tum_out6.pdf
evaluation/trajectory_stereo_imu_tum_room1.pdf
evaluation/benchmark_results_20260428_201700.csv
evaluation/benchmark_results_20260428_202422.csv
evaluation/benchmark_results_20260428_203337.csv
evaluation/benchmark_results_20260428_205057.csv
evaluation/benchmark_results_20260428_205838.csv
evaluation/benchmark_results_20260429_193629.csv
evaluation/diagnosis_stereo_imu_euroc_v102_close_lp.pdf
evaluation/diagnosis_stereo_imu_euroc_v102.pdf
evaluation/stereo_imu_euroc_v102_localmapping_close_lp_log.csv
evaluation/stereo_imu_euroc_v102_loop_closing_close_lp_log.csv
evaluation/stereo_imu_euroc_v102_tracking_close_lp_log.csv
evaluation/stereo_inertial_results_20260405_230541.csv
evaluation/traj3d_stereo_euroc_v102.pdf
evaluation/traj3d_stereo_imu_euroc_v102_close_lp.pdf
evaluation/traj3d_stereo_imu_euroc_v102.pdf
evaluation/stereo/v101/v102/diagnosis_stereo_euroc_v102_close_both.pdf
evaluation/stereo/v101/v102/diagnosis_stereo_euroc_v102_close_localBA.pdf
evaluation/stereo/v101/v102/diagnosis_stereo_euroc_v102_close_lp.pdf
evaluation/stereo/v101/v102/diagnosis_stereo_euroc_v102.pdf
evaluation/stereo/v101/v102/stereo_euroc_v102_localmapping_close_both_log.csv
evaluation/stereo/v101/v102/stereo_euroc_v102_localmapping_close_localBA_log.csv
evaluation/stereo/v101/v102/stereo_euroc_v102_localmapping_close_lp_log.csv
evaluation/stereo/v101/v102/stereo_euroc_v102_localmapping_log.csv
evaluation/stereo/v101/v102/stereo_euroc_v102_loop_closing_close_both_log.csv
evaluation/stereo/v101/v102/stereo_euroc_v102_loop_closing_close_localBA_log.csv
evaluation/stereo/v101/v102/stereo_euroc_v102_loop_closing_close_lp_log.csv
evaluation/stereo/v101/v102/stereo_euroc_v102_loop_closing_log.csv
evaluation/stereo/v101/v102/stereo_euroc_v102_tracking_close_both_log.csv
evaluation/stereo/v101/v102/stereo_euroc_v102_tracking_close_localBA_log.csv
evaluation/stereo/v101/v102/stereo_euroc_v102_tracking_close_lp_log.csv
evaluation/stereo/v101/v102/stereo_euroc_v102_tracking_log.csv
evaluation/stereo/v101/v102/traj3d_stereo_euroc_v102_close_both.pdf
evaluation/stereo/v101/v102/traj3d_stereo_euroc_v102_close_localBA.pdf
evaluation/stereo/v101/v102/traj3d_stereo_euroc_v102_close_lp.pdf
evaluation/stereo/v101/v102/traj3d_stereo_euroc_v102.pdf
evaluation/stereo_imu/v102/diagnosis_stereo_imu_euroc_v102_close_both.pdf
evaluation/stereo_imu/v102/diagnosis_stereo_imu_euroc_v102_close_lp.pdf
evaluation/stereo_imu/v102/diagnosis_stereo_imu_euroc_v102_localBA.pdf
evaluation/stereo_imu/v102/diagnosis_stereo_imu_euroc_v102.pdf
evaluation/stereo_imu/v102/stereo_imu_euroc_v102_localmapping_close_both_log.csv
evaluation/stereo_imu/v102/stereo_imu_euroc_v102_localmapping_close_lp_log.csv
evaluation/stereo_imu/v102/stereo_imu_euroc_v102_localmapping_localBA_log.csv
evaluation/stereo_imu/v102/stereo_imu_euroc_v102_localmapping.csv
evaluation/stereo_imu/v102/stereo_imu_euroc_v102_loop_closing_close__both_log.csv
evaluation/stereo_imu/v102/stereo_imu_euroc_v102_loop_closing_close_lp_log.csv
evaluation/stereo_imu/v102/stereo_imu_euroc_v102_loop_closing_localBA_log.csv
evaluation/stereo_imu/v102/stereo_imu_euroc_v102_loop_closing.csv
evaluation/stereo_imu/v102/stereo_imu_euroc_v102_tracking_close__both_log.csv
evaluation/stereo_imu/v102/stereo_imu_euroc_v102_tracking_close_lp_log.csv
evaluation/stereo_imu/v102/stereo_imu_euroc_v102_tracking_localBA_log.csv
evaluation/stereo_imu/v102/stereo_imu_euroc_v102_tracking.csv
evaluation/stereo_imu/v102/traj3d_stereo_imu_euroc_v102_close_both.pdf
evaluation/stereo_imu/v102/traj3d_stereo_imu_euroc_v102_close_localBA.pdf
evaluation/stereo_imu/v102/traj3d_stereo_imu_euroc_v102_close_lp.pdf
evaluation/stereo_imu/v102/traj3d_stereo_imu_euroc_v102.pdf
evaluation/benchmark_results_20260504_193144.csv
evaluation/benchmark_results_20260504_193534.csv
evaluation/benchmark_results_20260504_193800.csv
evaluation/benchmark_results_20260504_195433.csv
evaluation/benchmark_results_20260504_200918.csv
evaluation/benchmark_results_20260504_201609.csv
evaluation/benchmark_results_20260504_211311.csv
evaluation/benchmark_results_20260504_211813.csv
evaluation/benchmark_results_20260505_095305.csv
evaluation/benchmark_results_20260505_100113.csv
evaluation/benchmark_results_20260505_100420.csv
evaluation/diagnosis_stereo_euroc_v102_intervals.csv
evaluation/diagnosis_stereo_euroc_v203_intervals.csv
evaluation/diagnosis_stereo_euroc_v203.pdf
evaluation/diagnosis_stereo_imu_euroc_v102_intervals.csv
evaluation/diagnosis_stereo_imu_euroc_v203_intervals.csv
evaluation/diagnosis_stereo_imu_euroc_v203.pdf
evaluation/diagnosis_test_intervals.csv
evaluation/diagnosis_test.pdf
evaluation/stereo_imu_euroc_v203_localmapping_log.csv
evaluation/stereo_imu_euroc_v203_loop_closing_log.csv
evaluation/stereo_imu_euroc_v203_tracking_log.csv
evaluation/test_localmapping_log.csv
evaluation/test_loop_closing_log.csv
evaluation/test_tracking_log.csv
evaluation/trajectory_stereo_euroc_v203.pdf
evaluation/trajectory_stereo_imu_euroc_v203.pdf
study/2026.05.07-吳冠璋 .pptx
study/2026.05.07.2-吳冠璋 .pptx
evaluation/benchmark_results_20260513_161847.csv
evaluation/benchmark_results_20260513_162318.csv
evaluation/benchmark_results_20260513_162529.csv
evaluation/benchmark_results_20260513_163041.csv
evaluation/benchmark_results_20260513_164616.csv
evaluation/benchmark_results_20260513_170008.csv
evaluation/benchmark_results_20260513_172610.csv
evaluation/benchmark_results_20260513_173150.csv
evaluation/benchmark_results_20260513_192054.csv
evaluation/benchmark_results_20260513_193001.csv
evaluation/benchmark_results_20260513_193937.csv
evaluation/benchmark_results_20260513_204952.csv
evaluation/benchmark_results_20260514_100217.csv
evaluation/diagnosis_stereo_euroc_m04_intervals.csv
evaluation/diagnosis_stereo_euroc_m04.pdf
evaluation/diagnosis_stereo_euroc_m05.pdf
evaluation/diagnosis_stereo_euroc_v201.pdf
evaluation/trajectory_stereo_euroc_m04.pdf
evaluation/trajectory_stereo_euroc_m05.pdf
evaluation/trajectory_stereo_euroc_v201.pdf
evaluation/benchmark_results_20260514_102022.csv
evaluation/benchmark_results_20260514_111421.csv
